@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 10px;
}

/* INICIO BREACKPOINTS 

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

}
*/


/* FIM BREACKPOINTS */


@keyframes gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes wiggle{
    0%, 10% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0);
    }
}

body{
    margin: auto ;
    background-color: #020228;

}
.grade{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    height: auto;
    
}

.container-navegacao{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    background-color: var(--nav-bg-color) ;
    margin: auto;
    position: fixed;
    align-items: center;
}

.menu{
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}


.btn-assinar{
    padding: 8px 26px;
    background: var(--tertiary-color);
    border-radius: 20px;

}

.menu-textos{
    display: flex;
    gap:25px;
    align-items: center;
}
.menu-textos a{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.mega-banner{
    padding-top: 50px;
    width: 100%;
    height: 800px;
    max-width: 1920px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}

.mega-banner::after{
    content: "";
    width: 100%;
    height: 100px;
    top: 700px;
    position: absolute;
    background: linear-gradient(0deg, var(--primary-color), transparent);
}

.container-banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
}
.container-banner P{
    margin-bottom: 40px;
}
.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
}
.logos img{
    object-fit: contain;
    max-height: 58px;
    
}

/* TEXTOS */

h1{
    font-size: 2.1rem;
    font-weight: 400;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2{
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: 40px;
    color: var(--text-color);
}
h3{
    font-size: 1.17rem;
    font-weight: bold;
    color: var(--text-color);

}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    color: var(--text-color);
}

li{
    font-family: "Quicksand", sans-serif;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
.beneficios li{
    line-height: 25px;
    margin-bottom: 30px;
}
.beneficios ul{
    margin-bottom: 50px;
}

.beneficios li::before{
    content: "+";
    color: var(--text-color);
    font-size: 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    margin-right: 10px;
    
}

small{
    font-family: "Quicksand", sans-serif;
}


span{
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--text-color);
}


/* FIM TEXTOS */
hr{
    max-width: 700px;
    width: 70%;
    height: 5px;
    background: var(--divider-bg-color);
    border: none;
    margin: 40px auto;
    
    
}

.btn__padrao{
    font-size: 16px;
    padding: 15px 50px;
    width: fit-content;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    margin: auto;
    color: var(--text-color);
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    transition: background 2s, outline 1s, transform 1s;
    
}

.btn__padrao:hover{
    outline: solid 3px var(--secondary-color);
    background-position: 100%;
    transition: background 2s, outline 1s, transform 1s;
}



.btn_padrao_assine{
    font-size: 16px;
    padding: 15px 50px;
    width: fit-content;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    margin: auto;
    color: var(--text-color);
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    transition: background 2s, outline 1s, transform 1s;
    animation: wiggle 2.2s linear infinite;
}
.btn_padrao_assine:hover{
    outline: solid 3px var(--secondary-color);
    background-position: 100%;
    transition: background 2s, outline 1s, transform 1s;
}

.aplicavel{
    padding-top: 40px;
    font-size: 0.9rem;
    width: 280px;
    text-align: center;
    margin: auto;
}

.cards{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 802px;
    color: var(--text-color);
    background: url('../assets/imagen/background-movies-series.png') no-repeat;
    position: relative;
    justify-content: center;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;
}

.container-card{
    width: 1200px;
    padding: 20px;
}
.cards-assinatura{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    perspective: 2000px;
    perspective-origin: top;

}
.cards-assinatura #compra-mobile:hover{
    perspective: 2000px;
    perspective-origin: top;
}

.card-compra{
    width: 50%;
    height: 633px;
    padding: 40px 60px;
    background: var(--card-bg-color);
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    border-radius: 10px;
    margin-top: 40px;
}
.card-compra .btn__padrao a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.8rem;
}
.card-compra .btn__padrao{
    display: flex;
    flex-direction: column-reverse;
}
.plano-valor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.plano-valor h3{
    font-size: 1.4rem;
}
.plano-valor span{
    font-size: 2rem;
    color: var(--secondary-color);
}



.beneficios{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.galeria{
    text-align: center;
    margin:100px auto;
    display: flex;
    flex-direction: column;
    max-width: 1214px;


}
.imagens-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1214px;
    gap: 40px; 
}
.imagens-galeria img{
    width: 100%;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, background-image 0.8s, border 1s ;
    margin-top: 40px;
    
    
}
.imagens-galeria img:hover{
    transition: transform 0.8s, background-image 0.8s, border 1s ;
    transition: opacity 0.8s;
    border: 1px solid var(--secondary-color); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    opacity: 0;
    
}
.conteudo-img{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.8s;
    
}

.conteudo-img:hover{
    transition: opacity 0.8s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--secondary-color); 
    border-radius: 16px;
}
.conteudo-img:nth-child(1):hover{
    background-image: url(/HBO-site/assets/imagen/hbo-hover_0.webp);
    transition: opacity 1s;
    
}


