.card-premio{
	transition: 1s;
	perspective: 3000px;
	perspective-origin: top;
}

.card-premio-unidade{
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	border-radius: 10px;
	transition: 1s;
}
/* hover 1 */
.card-premio:has(.card-premio-unidade:nth-child(1):hover) .card-premio-unidade:nth-child(2)  {
    transform: rotateY(-35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(1):hover) .card-premio-unidade:nth-child(3)  {
    transform: rotateY(-35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(1):hover) .card-premio-unidade:nth-child(4)  {
    transform: rotateY(-35deg);
    transition: 1s;
}
/* hover 2 */

.card-premio:has(.card-premio-unidade:nth-child(2):hover) .card-premio-unidade:nth-child(1)  {
    transform: rotateY(35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(2):hover) .card-premio-unidade:nth-child(3)  {
    transform: rotateY(-35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(2):hover) .card-premio-unidade:nth-child(4)  {
    transform: rotateY(-35deg);
    transition: 1s;
}
/* hover 3 */

.card-premio:has(.card-premio-unidade:nth-child(3):hover) .card-premio-unidade:nth-child(1)  {
    transform: rotateY(35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(3):hover) .card-premio-unidade:nth-child(2)  {
    transform: rotateY(35deg);
    transition: 1s;
}
.card-premio:has(.card-premio-unidade:nth-child(3):hover) .card-premio-unidade:nth-child(4)  {
    transform: rotateY(-35deg);
    transition: 1s;
}

/* hover 4 */

.card-premio:has(.card-premio-unidade:nth-child(4):hover) .card-premio-unidade:nth-child(1)  {
    transform: rotateY(35deg);
    transition: 1s;
}.card-premio:has(.card-premio-unidade:nth-child(4):hover) .card-premio-unidade:nth-child(2)  {
    transform: rotateY(35deg);
    transition: 1s;
}.card-premio:has(.card-premio-unidade:nth-child(4):hover) .card-premio-unidade:nth-child(3)  {
    transform: rotateY(35deg);
    transition: 1s;
}
/* fim hover  */